body {
    padding: 0;
    margin: 0;

    background-color: #212121;
    font-family: monospace;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

main {
    width: auto;
    height: auto;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 3px 15px 2px rgba(255, 255, 255, 0.3);
    /* deslocamento : horizontal - vertical - espalhamento - tamanho_total */
}

h2 {
    text-transform: uppercase;

    text-align: center;
    font-size: 4em;
    margin-bottom: 50px;
    margin-top: 10px;
    letter-spacing: 1px;
}

div {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
}

label {
    font-size: 1.5em;
    width: 150px; /* Largura fixa para alinhar os inputs */
}

input[type="text"], input[type="number"], input[type="tel"], input[type="email"] {
    color: black;
    font-size: 1.2em;
    padding: 5px;
    width: 245px;
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 4px;
    background-color: #cccccc;

    -webkit-appearance: none;  /* Remove o estilo nativo do Safari */
    -moz-appearance: none;     /* Remove o estilo nativo no Firefox */
    appearance: none;          /* Remove o estilo nativo em navegadores modernos */
}

/* ----- Estilo específico para a seta do select ----- */

select {
    width: 120px;
    height: 30px;
    padding-right: 10px; /* Adiciona espaço para a seta */
    border-radius: 0;
}

select option {
    padding: 10px;
    border-radius: 0; /* Remove bordas arredondadas das opções */
}

select:focus {
    outline: none;
    border: 1px solid #007bff;
}

/* ----- Estilo para o botão enviar ----- */

.bt-enviar {
    display: flex;
    justify-content: center;
    margin: 0;
}

input[type="submit"] {
    margin-top: 40px;

    color: white;
    font-weight: bold;
    font-size: 1em;
    background-image: linear-gradient(to bottom, #6c5ee6, #8c82e5, #a69ee9);

    width: 150px;
    padding: 7px 0;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.493);

    transition: 0.2s ease;
}

input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.05);
}